p,h1,h2,h3,h4,h5,h6  
{font-family: 'Quicksand', sans-serif;}

p,h2,h3,h4{ 
    color:orange;
    
}

body{color:black;}

body{background: url("../image/bck.jpg") center center no-repeat ;}

body{
    color: rgb(255, 254, 250);
    background-color: rgb(53, 53, 56);
}

#container{
    margin: 0% 30%;
    background-color: rgba(177, 43, 83, 0.596);
}
#container { text-align: center;
    list-style-position: inside; }